// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$bg-brown: #b08968;
$bg-dark-brown: #7f5539;
$bg-brown-figma: rgb(64, 54, 54);


$light-purple: #D913F0;
$dark-purple: #ab1ebb;

$dark-gray: #171717;
$light-gray: #222;
$text-gray: rgb(187,187,187);
