.login {
    height: 100vh;
}

.login-box {
    background-color: $light-gray;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 40px;
    justify-content: center;
}

.home_logo{
  width: 100px;
  justify-content: center;
}

#app-name {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    font-family: Nunito;
}

.brand-icons {
    // padding-left: 45%;
    font-size: 2rem;
    justify-content: space-evenly;
}

.simple-form{
  justify-content: center;
}

.recover-links > a {
    text-decoration: none;
    color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
