.user-profile-container {
    margin-top: 2.25rem;
}

.avatar-profile {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
