<div>
  <p data-user=<%= user.id %>>
    <%= user.nickname %>
    <% if current_user.is_following?(user.id) %>
      <%= link_to "Unfollow", unfollow_user_path(user.id), method: :post, remote: true, class: "btn btn-danger follow-btn-#{user.id}", style: "color: white;", data: { follow_button_target: "btn" }  %>
    <% else %>
      <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true, class: "btn btn-warning follow-btn-#{user.id}", data: { follow_button_target: "btn" } %>
    <% end %>
  </p>
</div>
