<div class="container">
    <div>
      <div class="bg-white shadow-lg rounded-lg my-3 p-3">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, :width=>300, :height=>300, :gravity=>"face", "radius" => "20", :crop=>"thumb" %>
        <% else %>
          <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        <% end %>

        <%= render "user_info", user: user %>

      </div>
    </div>
</div>
