<div class="container">
  <h2 class="mt-2" style="color:white"><%= current_user.nickname %></h2>
  </br>
  <% @following.each do |follows| %>
    <p>
      <%= follows.nickname %>
      <% chatroom = Chatroom.find_by(first_user: [follows, current_user], second_user: [follows, current_user]) %>
      <% if chatroom %>
        <%= link_to "Chat", chatroom_path(chatroom), class: "btn btn-success" %>
      <% else %>
        <%= link_to "Chat", chatrooms_path(recipient_id: follows.id), method: :post, class: "btn btn-success" %>
      <% end %>
    </p>
  <% end %>
</div>
