<div class="container-fluid user-profile-container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
    profile
     <%= cl_image_tag @user.photo.key, style: "height:150px; border-radius: 50%;" %>
    </div>
    <div class="col-sm-12 col-md-8">
    Content
    </div>
  </div>
</div>
