<%#= http://localhost:3000/posts/#/edit %>
<%#= edit_post_path %>

<div class="form-box">
  <h1 class="form-title"><strong>EDIT POST</strong></h1>
  <%= render "form", post: @post %>
  <%= link_to "Delete",
              @post,
              method: :delete,
              data: { confirm: "Are you sure?" }, class:"btn-profile-delete justify-content-center"  %>
</div>
