<%#= http://localhost:3000/posts/new %>
<%# new_post_path %>
<div class="form-full">
<div class="card my-5">
  <div class="card-body">
    <h1>New Post</h1>
    <%= render 'form', post: @post %>
  </div>
</div>
</div>
