.chatroom {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  .messages {
    height: 100%;
    overflow: auto;
    padding: 1rem;
  }
  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    .form-group {
      margin-bottom: 0;
    }
  }
  h1.chatroom-title {
    font-size: 3rem;
  }
}

.chatroom-side {
  background: white;
  height: 100%;
  width: 18rem;
}
.chatroom-user {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid $bg-brown;
  &:hover {
    background-color: rgba($color: $bg-brown, $alpha: 0.5);
    color: black;
  }
}

.chat-msg-input {
  width: 100%;
}
.chatroom-user.active {
  background-color: $bg-brown;
  color: white;
}

.chatroom-container {
  margin-top: 2rem;
  height: calc(100vh - 75px - 3rem);
  display: flex;
  gap: 1.5rem;
}
