.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-nav {
  gap: 25px;
}

.nav-link {
  color: #fff;

  &:hover {
    color: $bg-brown;
  }
}
