.navbar-lewagon {
  justify-content: space-between;
  background: $dark-gray;
  border-bottom: 1px solid #333;
}

.nav-link {
  color: $text-gray!important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
